name: .NET Build and Push to ECR

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-west-2
      IMAGE_TAG: ${{ github.run_number }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      # -----------------------------
      # AWS AUTH
      # -----------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # -----------------------------
      # Docker Build
      # -----------------------------
      - name: Docker Compose Build
        run: docker compose build

      # -----------------------------
      # Tag & Push
      # -----------------------------
      - name: Tag & Push Image
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          ECR_REPO="${{ secrets.ECR_REPOSITORY }}"
          ECR_URL="$ACCOUNT_ID.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_REPO"

          docker tag webapi-awsdeploy-webapi:latest $ECR_URL:$IMAGE_TAG
          docker push $ECR_URL:$IMAGE_TAG

      # -----------------------------
      # Deploy to EC2
      # -----------------------------
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
            ECR_REPO=${{ secrets.ECR_REPOSITORY }}
            AWS_REGION=eu-west-2
            IMAGE_TAG=${{ github.run_number }}
            ECR_URL="$ACCOUNT_ID.dkr.ecr.${AWS_REGION}.amazonaws.com/$ECR_REPO"

            aws ecr get-login-password --region $AWS_REGION | \
              docker login --username AWS --password-stdin $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

            cd /opt/app
            export ECR_API_IMAGE=$ECR_URL:$IMAGE_TAG
            docker compose pull
            docker compose up -d
